/* fonts files */
.base-text {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}
.base-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
/*colors*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  line-height: 21px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}
.header {
  background: url("../img/main-bg.jpg") no-repeat center center;
  background-size: cover;
}
.header__wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
}
.header__slider .header__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  text-align: center;
}
.header__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 50px;
  font-size: 60px;
}
.header__description {
  margin: 0;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
}
.header__form {
  display: flex;
}
.header__input {
  padding: 15px 25px;
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
.header__btn {
  padding: 10px 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: #20ab50;
}
.header .slick-slider {
  padding: 0;
  margin: 0;
}
.header .slick-slider .slick-dots {
  bottom: 50%;
  right: 30px;
  width: auto;
  transform: rotateZ(90deg);
}
.header .slick-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.header .slick-slider .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  background: #fff;
}
.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  display: block;
}
.about {
  /*  &__img {
    width: 100%;
  }*/
}
.about__wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__text,
.about__photo {
  width: 50%;
}
.about__title {
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}
.about__description {
  max-width: 420px;
  margin-bottom: 20px;
  font-size: 16px;
}
.reviews__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.reviews__item {
  display: flex;
}
.reviews__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__text,
.reviews__photo {
  width: 50%;
}
.reviews__title {
  font-size: 30px;
  text-align: center;
}
.reviews__description {
  font-size: 20px;
  text-align: center;
}
.reviews__author {
  font-size: 20px;
  text-align: center;
}
.reviews__img {
  width: 100%;
}
