/* fonts files */
.base-text {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}
.base-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
/*colors*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  line-height: 21px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}
.header {
  background: url("../img/main-bg.jpg") no-repeat center center;
  background-size: cover;
}
.header__wrapper {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  color: #fff;
}
.header__slider .header__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  min-height: 800px;
  text-align: center;
}
.header__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 50px;
  font-size: 60px;
}
.header__description {
  margin: 0;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
}
.header .slick-slider {
  padding: 0;
  margin: 0;
}
.header .slick-slider .slick-dots {
  bottom: 50%;
  right: 30px;
  width: auto;
  transform: rotateZ(90deg);
}
.header .slick-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
.header .slick-slider .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  background: #fff;
}
.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  display: block;
}
.registration__form {
  display: flex;
  justify-content: center;
}
.registration__input {
  padding: 15px 25px;
  border: none;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
.registration__btn {
  padding: 10px 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: #20ab50;
}
.about__wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__text,
.about__photo {
  width: 50%;
}
.about__title {
  margin-bottom: 35px;
  font-size: 30px;
  text-align: center;
}
.about__description {
  max-width: 420px;
  margin-bottom: 20px;
  font-size: 16px;
}
.about__img {
  width: 100%;
}
.reviews__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
.reviews__item {
  display: flex;
}
.reviews__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.reviews__text,
.reviews__photo {
  width: 50%;
}
.reviews__title {
  margin-bottom: 60px;
  font-size: 30px;
}
.reviews__description {
  position: relative;
  margin-bottom: 40px;
  padding: 45px 10px 25px 10px;
  font-size: 20px;
}
.reviews__description:before,
.reviews__description:after {
  position: absolute;
  content: '\2033';
  bottom: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #dcdcdc;
}
.reviews__description:before {
  top: 0;
  left: -10px;
  transform: rotateZ(180deg);
}
.reviews__author {
  font-size: 20px;
  text-align: center;
}
.reviews__img {
  width: 100%;
}
.range__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 55px 10px;
  text-align: center;
}
.range__title {
  margin-bottom: 25px;
  font-size: 30px;
}
.range__description {
  margin-bottom: 20px;
  font-size: 20px;
}
.range__shoes-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  min-height: 450px;
  margin-bottom: 20px;
}
.range__shoes-name {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.range .slick-arrow {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
  background: #fff;
}
.range .slick-prev {
  left: 70px;
}
.range .slick-next {
  right: 70px;
}
.range .slick-prev:before {
  content: '\003C';
  color: #dcdcdc;
}
.range .slick-next:before {
  content: '\003E';
  color: #dcdcdc;
}
.advantages {
  background: #e1e0e1;
}
.advantages__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 10px 20px 10px;
  text-align: center;
}
.advantages__title {
  margin-bottom: 15px;
  font-size: 30px;
}
.advantages__description {
  margin-bottom: 10px;
  font-size: 20px;
}
.advantages__shoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background: url("../img/advantages-shoes-img.jpg") no-repeat center center;
  background-size: contain;
}
.advantages__item {
  max-width: 235px;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 10px;
  background: #fff;
}
.advantages__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
}
.advantages__item-description {
  margin: 0;
  font-size: 16px;
}
.contact__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}
.contact__title {
  margin-bottom: 15px;
  font-size: 30px;
}
.contact__description {
  margin-bottom: 45px;
  font-size: 20px;
}
.contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 70px;
}
.contact__item {
  min-width: 200px;
  margin-bottom: 50px;
  font-size: 15px;
  text-align: left;
}
.shop-name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.shop-info {
  margin: 0;
  margin-bottom: 5px;
}
.shop-link {
  font-weight: 400;
  color: #1faa50;
  text-decoration: none;
}
.shop-email,
.shop-phone {
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
}
.shop-email {
  margin-right: 100px;
  color: #1faa50;
}
.footer {
  background: #f3f3f3;
}
.footer__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 10px;
}
.footer__title {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.footer__description {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}
.coppyright {
  padding: 5px 35px;
  background: #dcdcdc;
}
.coppyright__text {
  font-weight: 400;
  color: #fff;
}
