/* fonts files */
.base-text {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
}

.base-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

/*colors*/
@base-text-color: #000;
@header-text-color: #fff;
@placeholder-text-color: #8c8c8c;
@link-color: #1faa50;
@base-bg: #fff;
@header-bg: #e1e0e1;
@btn-bg: #20ab50;
@quotes-bg: #dcdcdc;
@advanteges-bg: #e1e0e1;
@footer-bg: #f3f3f3;
@coppyright-bg: #dcdcdc;