.footer {
  background: @footer-bg;

  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 10px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  &__description {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }
}

.coppyright {
  background: @coppyright-bg;

  &__wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px 35px;
  }

  &__text {
    font-weight: 400;
    color: @base-bg;
  }
}

@media (max-width: 850px) {

  .footer {

    &__wrapper {
      padding: 30px 10px;
    }

    &__title {
      font-size: 25px;
    }

    &__description {
      font-size: 16px;
    }
  }
}